<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->  <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <button nz-button nzType="primary" (click)="createCustomButtonModal()">Add badge</button>


        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Badges</h3>
        </div>
        <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="table align-items-center table-flush">


          <ng-container matColumnDef="position">
            <th  scope="col" class="thead-light" mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>


          <ng-container matColumnDef="name">
            <th  scope="col" class="thead-light" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>


          <ng-container matColumnDef="weight">
            <th  scope="col" class="thead-light" mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>


          <ng-container matColumnDef="symbol">
            <th  scope="col" class="thead-light" mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>

            <td mat-cell *matCellDef="let element" class="action-link" class="text-right">
                              <div ngbDropdown placement="bottom-right">
                                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                  <a class="dropdown-item" (click)="delete(badge)">Delete</a>
                                </div>
                              </div>
                            </td>
          </ng-container>


          <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>



          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>


      </div>
<!--        <div class="table-responsive">-->
<!--          <table class="table align-items-center table-flush">-->
<!--            <thead class="thead-light">-->
<!--            <tr>-->
<!--              <th scope="col">Name</th>-->
<!--              <th scope="col">Lower Bound</th>-->
<!--              <th scope="col">Upper Bound</th>-->
<!--              <th scope="col">Created at</th>-->
<!--              <th scope="col">Updated at</th>-->
<!--              <th scope="col">Status</th>-->
<!--              <th scope="col"></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody *ngIf="this.badgeService.getBadges()">-->
<!--            <tr *ngFor="let badge of this.badgeService.getBadges().data">-->
<!--              <th scope="row">-->
<!--                <div class="media align-items-center">-->

<!--                  <div class="media-body">-->
<!--                    <span class="mb-0 text-sm">{{badge.name}}</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </th>-->
<!--              <td>-->
<!--                {{badge.lowerBond}}-->
<!--              </td>-->
<!--              <td>-->
<!--                {{badge.upperBond}}-->
<!--              </td>-->
<!--              <td>-->
<!--                {{badge.createdAt | date}}-->
<!--              </td>-->
<!--              <td>-->
<!--                {{badge.updatedAt | date}}-->
<!--              </td>-->
<!--              <td>-->
<!--                <span *ngIf="!badge.deleted" class="badge badge-dot">-->
<!--                  <i class="bg-success"></i> active-->
<!--                </span>-->
<!--                <span *ngIf="badge.deleted" class="badge badge-dot mr-4">-->
<!--                  <i class="bg-danger"></i> deleted-->
<!--                </span>-->
<!--              </td>-->
<!--              <td class="text-right">-->
<!--                <div ngbDropdown placement="bottom-right">-->
<!--                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>-->
<!--                    <i class="fas fa-ellipsis-v"></i>-->
<!--                  </a>-->
<!--                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">-->
<!--                    <a class="dropdown-item" (click)="delete(badge)">Delete</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->


<!--            </tr>-->

<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="card-footer py-4" *ngIf="this.badgeService.getBadges()">-->
<!--          <nz-pagination [nzPageIndex]=this.badgeService.getCurrentPage() [nzTotal]=this.badgeService.getTotal() [nzPageSize]=this.badgeService.getSizePage() (nzPageIndexChange)="paginate($event)"></nz-pagination>-->
<!--        </div>-->

      </div>
    </div>
  </div>

</div>


