<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">

          <p class="text-lead text-light">Please enter your email address to find your account.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">



        <div class="card-body px-lg-5 py-lg-5">

          <form role="form" (ngSubmit)="login(formLogin)"  #formLogin="ngForm">
            <div class="form-group mb-3">
              <div *ngIf="error" role="alert" class="alert alert-danger alert-dismissible">
                  <span class=" alert-icon">
                      <i class="fa fa-exclamation-triangle"></i>
                    </span>
                <span class=" alert-text">{{this.textError}}</span>
              </div>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" name="email" type="email" required ngModel>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" [disabled]="!formLogin.form.valid"  [routerLink]="'/auth/recover/code'" value="login" class="btn btn-primary my-4">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">

        <div class="col-6 text-right">
          <a [routerLink]="'/auth/register'" class="text-light"><small>Create new account</small></a>
        </div>


      </div>
    </div>
  </div>
</div>
