<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-100">
      <div class="shape shape-style-1 shape-clubisti3">
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h4> Compte Test: 100$</h4>
              <div class="row">
                <div class="col-lg-6">
                  <h1>25</h1>
                  <h3>Credit</h3>
                </div>

                <div class="col-lg-6">
                  <h1>25</h1>
                  <h3>Total Donations</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-2 offset-lg-4">

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200"  >
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-2 offset-lg-10">

              <div class="row">
                <span><i class="fa fa-camera"></i></span><h1>Grad</h1>
              </div>
              <br>
              <img src="./assets/img/brand/football.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 100%;">

            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h1>Projects:</h1>
      <div class="row">
        <div class="col-lg-7">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-label">
                <span>Project 1</span>
                <p>descriptiondescriptiondescriptiondescriptiondescriptiondescription</p>
              </div>
              <div class="progress-percentage">
                <span>40%</span>
              </div>
            </div>
            <ngb-progressbar type="default" [value]="25"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
</main>
