<div class="header bg-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

      </div>
    </div>
  </div>
</div>
<!--<div class="container-fluid mt&#45;&#45;7">-->
<!--  <div class="row mt-5">-->
<!--    <div class="col-xl-10 mb-5 mb-xl-0 ">-->
<!--      <div class="card shadow ant-col-lg-offset-5">-->
<!--        <div class="card-header border-0">-->
<!--          <div class="row align-items-center">-->
<!--            <div class="col">-->
<!--              <h3 class="mb-0">Project Name: {{project?.offer?.name}} </h3>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class=" table-responsive">-->
<!--          &lt;!&ndash; Projects table &ndash;&gt;-->
<!--          <table class=" table align-items-center table-flush">-->
<!--            <thead class="thead-light">-->
<!--            <tr>-->
<!--              <th scope="col">Created At</th>-->
<!--              <th scope="col">Amount</th>-->
<!--              <th scope="col">Project Name</th>-->
<!--              <th scope="col"></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody *ngIf=transactions>-->
<!--            <tr *ngFor=" let transaction of transactions; let indexOfelement=index;">-->
<!--              <th scope="row">-->
<!--                {{transaction?.createdAt | date}}-->
<!--              </th>-->
<!--              <td>-->
<!--                {{transaction?.amount}}-->
<!--              </td>-->
<!--              <td>-->
<!--                {{transaction.offer.name}}-->
<!--              </td>-->

<!--              <div ngbDropdown placement="auto">-->
<!--                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>-->
<!--                  <i class="fas fa-ellipsis-v"></i>-->
<!--                </a>-->
<!--                <div ngbDropdownMenu class=" dropdown-menu-left dropdown-menu-arrow">-->
<!--                  <a class="dropdown-item" (click)="open(transaction?.id)">Observation</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </tr>-->


<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->


<!--</div>-->

<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row mt-5">
    <div class="col-xl-10 mb-5 mb-xl-0 ">
      <div class="card shadow ant-col-lg-offset-5">
        <div class="card-header border-0">
          <h3 class="mb-0">My transactions</h3>
        </div>
        <div class="table-responsive">



          <p-table #tt   [autoLayout]="true" class="table align-items-center table-flush"  [rowHover]="true" [columns]="cols" [value]="transactions" [paginator]="true" [rows]="10"   [rowsPerPageOptions]="[1,5,10]">
            <ng-template pTemplate="caption">

              <input type="text" pInputText size="50" placeholder="Search" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </ng-template>

            <ng-template class="thead-light" pTemplate="header" let-columns>

              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.field === 'action'"  >
                  {{col.header}}
                  <p-sortIcon  *ngIf="col.field !== 'action'" [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">

              <tr [pSelectableRow]="rowData">

                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                  <ng-container *ngSwitchCase="'createdAt'">
                    {{rowData[col.field] | date}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'name'">
                    {{rowData["offer"].name }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'action'">

                    <div ngbDropdown placement="auto">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click)="open(rowData['id'])">Complain</a>
                      </div>
                    </div>

                  </ng-container>


                  <ng-container      *ngSwitchDefault>
                    {{rowData[col.field] }}
                  </ng-container>

                </td>


              </tr>
            </ng-template>

          </p-table>


        </div>

      </div>
    </div>
  </div>

</div>

