<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-clubisti alpha-4">

    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container row">
      <div class="col-lg-10 offset-lg-2">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-1">
              </div>
              <div class="col-lg-10">
                <div class="container">
                  <br>
                  <h3>Join a Group</h3>
                  <div *ngIf="errorMessage !== ''" role="alert" class="alert alert-danger alert-dismissible">
                  <span class=" alert-icon">
                      <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class=" alert-text">{{this.errorMessage}}</span>
                  </div>
                  <select class="custom-select" [(ngModel)]="selectedOption">
                    <option [value]="null" selected>Open this select menu</option>
                    <option *ngFor="let group of allGroups" [value]="group?.GRP_ID"> {{group?.GRP_NAME}}</option>
                  </select>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  required [(ngModel)]="password">
                  </div>
                  <div class="form-group">
                    <div class="btn">Cancel</div>
                    <div class="btn btn-primary" (click)="saveData()">Submit</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1">
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

