<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->  <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <a [routerLink]="['/admin/category']" class="btn btn-info">Category Setting</a>
        </div>
        <div class="col-lg-6 col-md-6">
          <a [routerLink]="['/admin/badge']" class="btn btn-info">Badge Setting</a>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">


</div>
