<div class="header bg-gradient-danger pb-8 pt-100 pt-md-8">
  <div class="container-fluid">
<!--    <div class="header-body">-->
<!--      <div class="d-flex justify-content-center"><h1>List of Users</h1></div>-->
<!--    </div>-->
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Applications Users</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody *ngIf="users">
            <tr *ngFor="let user of users.data">
              <td>
                {{user.id}}
              </td>
              <td>
                {{user.username}}
              </td>
              <td>
                {{user.firstName}}
              </td>
              <td>
                {{user.lastName}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                <span *ngIf="!user.deleted" class="badge badge-dot">
                  <i class="bg-success"></i> active
                </span>
                <span *ngIf="user.deleted" class="badge badge-dot mr-4">
                  <i class="bg-danger"></i> deleted
                </span>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="deleteUser(user)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer py-4" *ngIf="users">
          <nz-pagination [nzPageIndex]=currentPage  [nzTotal]=users.meta.total   [nzPageSize]=sizePage (nzPageIndexChange)="paginate($event)"></nz-pagination>
        </div>
      </div>
    </div>
  </div>
</div>




























