<form id=create-book-form [formGroup]="createBadge" >
  <div >
    <div class="form-group">
      <alert *ngIf="error" class="alert-dismissible">
        <div role="alert" class="alert alert-danger alert-dismissible">
          <button aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button><span class=" alert-icon">
                      <i class="fa fa-exclamation-triangle"></i>
                    </span>
          <span class=" alert-text">{{msg}}</span>
        </div>
      </alert>
      <label class="form-control-label" for="input-Name">Name</label>
      <input  formControlName= "name" type="text" id="input-Name" class="form-control form-control-alternative" placeholder="Name" >
    </div>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label" for="input-max">Upper Bound</label>
          <input  formControlName= "upperBond" type="text" id="input-max" class="form-control form-control-alternative" placeholder="Amount" >
        </div>
      </div>

    </div>


    <div class="picker">
      <app-icon-picker [color]="backgroundColor" [heading]="'icon'"
                        (event)="setColor('background', $event)"></app-icon-picker>
    </div>
  </div>

</form>
<div >
  <button type="submit" (click)="onSubmit()" class="btn btn-info" form="create-book-form">
    <i class="icon-feather-plus"></i>add badge</button>
</div>


