<section class="section section-lg section-coins pt-lg-0 mt--200">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2" style="margin-top: 20px;">
        <div class="card card-coin card-plain" style="background-color:  #1f2251;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09)">
          <div class="card-header">
            <img class="img-center img-fluid" src="assets/img/clubisitiCoinBronze.png" />
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center" >
                <h4 class="text-uppercase">Bronze package</h4>
                <span> Description </span>
                <hr class="line-primary" />
              </div>
            </div>
            <div class="row">
              <ul class="list-group">
                <li class="list-group-item">
                  <label>
                    <i class="fas fa-coins"> </i>
                    Amount
                  </label>
                  100 coins
                </li>
                <li class="list-group-item">
                  <label>
                    <i class="fas fa-dollar-sign"> </i>
                    Price
                  </label>
                  100 TND
                </li>
              </ul>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary btn-simple" (click)="buyNow(100)">Buy now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
