<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-clubisti">
      </div>
      <div class="container py-lg-md d-flex">
        <div class="row">
          <img class="path" src="assets/img/path3.png"/>
          <div class="col-md-12">
            <h1 class="" style="font-size: 50px">
              Choose the package
              <span class="" style="color: #1f2251"> that fits your needs </span>
            </h1>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-lighter" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg section-coins pt-lg-0 mt--200">
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="margin-top: 20px;">
          <div class="card card-coin card-plain" style="background-color:  #1f2251;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09)">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/bitcoin1.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center" >
                  <h4 class="text-uppercase">normal package</h4>
                  <span> Description </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label>
                      <i class="fas fa-coins"> </i>
                      Amount
                    </label>
                    100 coins
                  </li>
                  <li class="list-group-item">
                    <label>
                      <i class="fas fa-dollar-sign"> </i>
                      Price
                    </label>
                    100 TND
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary btn-simple" (click)="buyNow(100)">Buy now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4" >
<!--          3276a8-->
          <div class="card card-coin card-plain " style="background-color:  #1f2251;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/etherum.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Ultimate package</h4>
                  <span> Description </span>
                  <hr class="line-success" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label>
                      <i class="fas fa-coins"> </i>
                      Amount
                    </label>
                    10 000 coins
                  </li>
                  <li class="list-group-item">
                    <label>
                      <i class="fas fa-dollar-sign"> </i>
                      Price
                    </label>
                    10 000 TND
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-success btn-simple" (click)="buyNow(10000)">Buy now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
          <div class="card card-coin card-plain " style="background-color:  #1f2251;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09)">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/ripp.png" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Advanced package</h4>
                  <span> Description </span>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label>
                      <i class="fas fa-coins"> </i>
                      Amount
                    </label>
                    1 000 coins
                  </li>
                  <li class="list-group-item">
                    <label>
                      <i class="fas fa-dollar-sign"> </i>
                      Price
                    </label>
                    1 000 TND
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-info btn-simple" (click)="buyNow(1000)">Buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
