body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
  background-color: #f4f4f4;
  color: #333333;
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
  text-align: center;
}
body .ui-table .ui-table-caption {
  border-bottom: 0 none;
  font-weight: 700;
}
body .ui-table .ui-table-summary {
  border-top: 0 none;
  font-weight: 700;
}
body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
}
body .ui-table .ui-table-tbody > tr > td {
  padding: 0.571em 0.857em;
}
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #ffffff;
}
body .ui-table .ui-sortable-column {
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
body .ui-table .ui-sortable-column:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: inset 0 0 0 0.2em #8dcdff;
  box-shadow: inset 0 0 0 0.2em #8dcdff;
}
body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #848484;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: #e0e0e0;
  color: #333333;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  color: #333333;
}
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #ffffff;
}
body .ui-table .ui-editable-column input {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body .ui-table .ui-editable-column input:focus {
  outline: 1px solid #007ad9;
  outline-offset: 2px;
}
body .ui-table .ui-table-tbody > tr {
  background-color: #ffffff;
  color: #333333;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}
body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: 1px solid #c8c8c8;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight a {
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr.ui-table-dragpoint-top > td {
  -webkit-box-shadow: inset 0 2px 0 0 #007ad9;
  -moz-box-shadow: inset 0 2px 0 0 #007ad9;
  box-shadow: inset 0 2px 0 0 #007ad9;
}
body .ui-table .ui-table-tbody > tr.ui-table-dragpoint-bottom > td {
  -webkit-box-shadow: inset 0 -2px 0 0 #007ad9;
  -moz-box-shadow: inset 0 -2px 0 0 #007ad9;
  box-shadow: inset 0 -2px 0 0 #007ad9;
}
body .ui-table .ui-table-tbody > tr:focus {
  outline: none;
}
body .ui-table .ui-table-tbody > tr:focus + tr > td {
  box-shadow: 0 -0.2em 0 0 #8dcdff;
}
body .ui-table .ui-table-tbody > tr:focus > td {
  box-shadow: 0 -0.2em 0 0 #8dcdff, 0 0.2em 0 0 #8dcdff;
}
body .ui-table .ui-table-tbody > tr:focus > td:first-child {
  box-shadow: 0 -0.2em 0 0 #8dcdff, 0 0.2em 0 0 #8dcdff, -0.1em -0.1em 0 0.1em #8dcdff;
}
body .ui-table .ui-table-tbody > tr:focus > td:last-child {
  box-shadow: 0 -0.2em 0 0 #8dcdff, 0 0.2em 0 0 #8dcdff, 0.1em -0.1em 0 0.1em #8dcdff;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight a {
  color: #ffffff;
}
body .ui-table.ui-table-hoverable-rows .ui-table-tbody > tr.ui-selectable-row:not(.ui-state-highlight):hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: #333333;
}
body .ui-table .ui-column-resizer-helper {
  background-color: #007ad9;
}
@media screen and (max-width: 40em) {
  body .ui-table.ui-table-responsive .ui-paginator-top {
    border-bottom: 1px solid #c8c8c8;
  }

  body .ui-table.ui-table-responsive .ui-paginator-bottom {
    border-top: 1px solid #c8c8c8;
  }

  body .ui-table.ui-table-responsive .ui-table-tbody > tr td {
    border: 0 none;
  }

  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus + tr > td {
    box-shadow: none;
  }

  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus > td {
    box-shadow: none;
  }

  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus > td:first-child {
    box-shadow: none;
  }

  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus > td:last-child {
    box-shadow: none;
  }
}
