.card-profile-image2 {
  img {
    max-height: 300px;
    border-radius: .25rem;
  }
}

.bigNumber {
  font-size: 40px
}
.progress-wrapper{
  position: relative;
}

.progress-wrapper .text{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  width: 100%;
  z-index: 1;
}
