<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->  <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <button nz-button nzType="primary" (click)="createAccount()">Add account</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Accounts</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Account Number</th>
              <th scope="col">Account Type</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody *ngIf="this.accountsRq">
            <tr *ngFor="let account of this.accounts">
              <th scope="row">
                <div class="media align-items-center">

                  <div class="media-body">
                    <span class="mb-0 text-sm">{{account.getAccountNumber()}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{account.accountType.name}}
              </td>
              <td>
                {{account.getCreatedAt() | date}}
              </td>
              <td>
                {{account.getUpdatedAt() | date}}
              </td>
              <td>
                <span *ngIf="!account.deleted" class="badge badge-dot">
                  <i class="bg-success"></i> active
                </span>
                <span *ngIf="account.deleted" class="badge badge-dot mr-4">
                  <i class="bg-danger"></i> deleted
                </span>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" (click)="delete(account)">Delete</a>
                  </div>
                </div>
              </td>



            </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4" *ngIf="this.accountService.getAccounts()">
          <nz-pagination [nzPageIndex]=this.accountService.getCurrentPage() [nzTotal]=this.accountService.getTotal()  [nzPageSize]=this.accountService.getSizePage() (nzPageIndexChange)="paginate($event)"></nz-pagination>
        </div>
      </div>
    </div>
  </div>

</div>
