<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-clubisti">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
<!--        <span class="span-75"></span>-->
<!--        <span class="span-100"></span>-->
<!--        <span class="span-150"></span>-->
      </div>
            <div class="container shape-container d-flex align-items-center py-lg-6">
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-1 mb-lg-auto">
                </div>
                <div class="col-lg-5 mb-5 mb-lg-0">
                  <h1 class="display-2 mb-0 text-white">Donate.   Participate.</h1>
                  <h1 class="display-3 mb-0 text-white">Express Love to Your Team.</h1>
                  <div class="row" style="width: 100%">
                    <div class="col-lg-3">
                    </div>
                    <a href="https://google.com" class="col-lg-5 btn btn-white mt-4">Learn More</a>
                  </div>
                </div>
                <div class="col-lg-4 mb-lg-auto">
                  <div class="rounded  overflow-hidden transform-perspective-right">
                    <img src="./assets/img/theme/ca.png" class="img-fluid" >
                  </div>
                </div>
                <div class="col-lg-1 mb-lg-auto">

                </div>
              </div>
            </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <app-home-description></app-home-description>
    <app-home-projects></app-home-projects>
    <app-home-donations></app-home-donations>
  </div>
</main>
