<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-10 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0">BlockChain Comparison</h3>
              <h6 class="mb-0">Address account:  </h6>
              <h6 class="mb-0">Minded  at: </h6>
              <h6 class="mb-0">Minded  by: </h6>
              <h6 class="mb-0">Block Number:  </h6>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form>
            <h6 class="heading-small text-muted mb-4">BlockChain content</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-3">
                  <label class="form-control-label" >Transaction Id</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
                <div class="col-lg-3">
                  <label class="form-control-label" >User Id</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
                <div class="col-lg-3">
                  <label class="form-control-label" >Project Id</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
                <div class="col-lg-3">
                  <label class="form-control-label" >Amount</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-1">Database information</h6>
            <div class="pl-lg-4">
              <div class="row">

                <div class="col-lg-4">
                  <label class="form-control-label" >User Id</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" >Project Id</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" >Amount</label>
                  <input [disabled]="true"  class="form-control form-control-alternative"   type="text">
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <label class="form-control-label" >NOTES</label>
            <input [disabled]="true"  class="form-control form-control-alternative"   type="text">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
