<section>
  <div class="container">
    <div class=" text-center justify-content-center">
      <h2 class="display-3">Current Open Projects</h2>
      <div class="row">
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 100%;">
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 100%;">
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 100%;">
        </div>
        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
          <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
</section>
