<section class="section section-lg section-nucleo-icons pb-250">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Clubisti project</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <div class="btn-wrapper">
          <a href="https://google.com" class="btn btn-primary">View projects</a>
          <a href="https://google.com" target="_blank" class="btn btn-default mt-3 mt-md-0">View Donations</a>
        </div>
      </div>
    </div>
  </div>
</section>
